<div>Current version installed <%= version %></div>
<hr>

<div class="row justify-content-start">
    <div class="col-sm-6">
        <button id="ip-update" class="btn btn-info">update database</button>
        <div id="ip-update-status"></div>
    </div>
</div>

<div class="row justify-content-start">
    <div class="col-12">
        <div class="mb-1">
<!--            <a href="#" id="current-ua" class="btn btn-sm btn-dark">get current UA</a>-->
<!--            <a href="#" id="random-ua" class="btn btn-sm btn-dark">get random UA</a>-->
        </div>
        <div class="form-floating mb-3">
            <input  type="text" class="form-control" id="ip-input">
            <label for="ip-input">ip</label>
        </div>
    </div>
</div>

<div class="row justify-content-start">
    <div class="col-sm-4">
        <button id="ip-detect" class="btn btn-primary">detect</button>
    </div>
</div>